# ------------------------------------------------------
# DATASET (DO NOT COMMIT)
# ------------------------------------------------------
data/*
!data/.gitkeep

*.csv
*.arff
*.xlsx
*.xls
*.json
*.txt
*.tsv
*.zip
*.gz
*.rar
*.data

!requirements.txt

datasets/
downloads/
raw_data/
processed_data/

# ------------------------------------------------------
# PYTHON & NOTEBOOK
# ------------------------------------------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# ------------------------------------------------------
# VIRTUAL ENV
# ------------------------------------------------------
venv/
.env/
*.env
environment/

# ------------------------------------------------------
# OS & BINARIES
# ------------------------------------------------------
.DS_Store
*.dll
*.so
*.pyd
